/* Splash Screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--DT-bg);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.splash-content {
    width: 100%;
    max-width: 600px;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 1. Logo Animation */
.splash-logo-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    z-index: 2;
    transition: all 0.5s ease-out 1.8s;
    transform-style: preserve-3d;
}

.splash-logo {
    width: 200px;
    height: 65px;
    filter: drop-shadow(var(--DT-gold-shadow));
    opacity: 1;
    transform-style: preserve-3d;
    animation: logoSpinY 1.2s ease-out forwards, logoSpin 0.6s ease-out 1.3s forwards;
}

/* Wrapper for texts */
.titleWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    border-left: 4px solid transparent; /* Border will appear later */
    padding-left: 20px;
    overflow: hidden; /* Texts will appear from border */
    transition: all 0.5s ease-out 1s;
}

/* 2. Brand Name && Slogan*/
.titleWrapper .brand-name,
.titleWrapper .brand-slogan {
    position: relative;
    left: 0%;
    transform: translateX(-120%);
    transition: all ease-in-out .3s;
}
.titleWrapper .brand-name {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--DT-text);
    margin: 0;
    line-height: 1;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.titleWrapper .brand-name span {
    margin-left: 15px;
    color: var(--primary-color);
}

.titleWrapper .brand-slogan {
    margin-top: 0px;
    font-size: 1rem;
    color: var(--DT-secText);
    font-weight: 300;
    letter-spacing: 2px;
    text-align: left;
}

/* Stage Animations */
.splash-content.stage-intermediate .splash-logo-wrapper {
    transform: translate(-50%, -50%) rotate(0deg); /* Fix rotate after spin */
}

.splash-content.stage-two-a .splash-logo-wrapper {
    left: 0%;
    transform: translateX(25%) translateY(-50%);
}

.splash-content.stage-two-b .titleWrapper {
    opacity: 1;
    border-left-color: var(--DT-borderLight); /* Show border */
    left: 0%;
    transform: translate(101%, -50%);
}
.splash-content.stage-two-b .titleWrapper .brand-name,
.splash-content.stage-two-b .titleWrapper .brand-slogan {
    position: relative;
    left: 0%;
    transform: translateX(0%);
    transition: all 0.8s ease-in-out 1.5s;
}

/* Keyframes */
@keyframes logoSpinY {
    0% {
        opacity: 0;
        transform: perspective(1000px) translateZ(-300px) scale(0.5) rotateY(0deg) rotate(90deg);
    }
    30% {
        opacity: 1;
        transform: perspective(1000px) translateZ(100px) scale(1.01) rotateY(540deg) rotate(90deg);
    }
    60% {
        transform: perspective(1000px) translateZ(150px) scale(1.09) rotateY(900deg) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: perspective(1000px) translateZ(0) scale(1) rotateY(1080deg) rotate(90deg);
    }
}

@keyframes logoSpin {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Exit Animation */
.splash-screen.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Responsive */
@media (max-width: 768px) {

    .splash-content {
        width: 300px;
        max-width: unset;
    }

    .splash-logo {
        width: 100px;
        height: 35px;
    }

    .titleWrapper .brand-name {
        font-size: 1.2rem;
        letter-spacing: 4px;
    }
    .titleWrapper .brand-name span {
        margin-left: 10px;
    }
    .titleWrapper .brand-slogan {
        font-size: .6rem;
        letter-spacing: 1px;
    }

    .splash-content.stage-two-b .titleWrapper {
        transform: translate(95%, -50%);
        padding-left: 13px;
    }

    .splash-content.stage-two-a .splash-logo-wrapper {
        transform: translate(25%, -50%);
    }

}
