.noDataMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  color: var(--DT-secText);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border: 1px dashed var(--DT-borderLight);
  border-radius: 8px;
}

.noDataMessage p {
  margin: 0;
}