.inventoryPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fakeWrapper {
    flex: 1;
}

.typeSection:not(:first-child) {
    margin-top: 5rem;
}

.typeSection:last-child {
    margin-bottom: 5rem;
}

.ProductsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 15px;
    background-color: var(--DT-component);
    padding: 1.8rem;
    border-radius: var(--radius);
}

/* Hide scrollbar but keep functionality */
.ProductsContainer {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.ProductsContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

@media (max-width: 1250px) {
    .ProductsContainer {
        gap: 10px;
    }
}

@media (max-width: 992px) {
    .ProductsContainer {
        margin-bottom: 2rem;
        padding: 3rem 1rem;
    }
}