.SCBG-container {
    flex-direction: column;
    right: var(--layout-padding);
    bottom: 50%;
    transform: translateY(50%);
    gap: 6px;
    padding: 3px;
}

.SCBG-container .coloritem {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SCBG-container .coloritem.active {
    border: 2px solid var(--primary2-color);
    transform: scale(1.25);
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
}

.SCBG-container .coloritem.match {
    border: 2px solid var(--primar2-color);
    transform: scale(1.15);
}

.SCBG-container .coloritem.active.match {
    border: 2px solid var(--primary2-color);
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
}